<h1>Create your game and stuff</h1>

//-for options, add whatever you want
<h2>Options and whatnot</h2>

<form method='POST' action='/create-game'>
    <h2> Game settings </h2>
    <br/>
    <label>Number of Players per team: <input id="players" type="number" value="4" name="players_per_team" /></label>
    <br/>
    <label>Number of teams: <input type="number" value="4" name="numOfteams" /></label>
    <br/>
    <label>Number of icons: <input type="number" value="4" name="numOfIcons" /></label>
    <br/>
    <br/>
    <button type='submit'>Create Game</button>
</form>
