<!-- join a room -->
<h1>Enter room to join</h1>

<form method="POST" name='room-form' action='/enter-room'>
    <input id="room" type='text' name='room'/>
    <button id='enter-room' type='submit'>Enter</button>
</form>

