<script src="/socket.io/socket.io.js"></script>

<button class="w3-button w3-xlarge w3-circle w3-black">+</button>
<button class="w3-button w3-xlarge w3-circle w3-black">-</button>
<button class="w3-button w3-xlarge w3-circle w3-black">x</button>
<button class="w3-button w3-xlarge w3-circle w3-black">/</button>

<script src='game.js'></script>